p {
  font-family: 'avenir'; }

.controls {
  height: 3.5em; }
  .controls p {
    font-size: 16pt;
    color: #f17872; }
  .controls p.example-back {
    float: left; }
  .controls p.example-forward {
    float: right; }

.example-sidebar {
  background-color: #1e252b; }
  .example-sidebar p {
    color: white;
    margin: 1em;
    font-size: 2em; }

.example-body {
  background-color: #f7f7f7; }
  .example-body p {
    color: #0a0a0a;
    margin: 1em;
    font-size: 1.4em; }

.example-right-sidebar {
  background-color: #cac8c8; }
  .example-right-sidebar p {
    margin: 1em;
    color: #1e252b; }
