.example-sidebar {
  background-color: #f17872; }
  .example-sidebar p {
    font-family: 'avenir';
    color: white;
    margin: 1em;
    font-size: 2em; }

.example-body {
  background-color: #f7f7f7; }
  .example-body p {
    font-family: 'avenir';
    color: #0a0a0a;
    margin: 1em;
    font-size: 1.4em; }
  .example-body p#back {
    color: #f17872; }
