 
/*======= VARIABLES =======*/
$small-breakpoint: 600px;
$large-breakpoint: 1024px;
$default-sidebar-width: 275px;


 /*======= MIXINS =======*/

@mixin rig-element(){
	height: 100%;
	float: left;
	overflow: scroll;
}

body{
	margin: 0px;
}

.rig{
	height: 100%;
	width: 100%;
	position: relative;
	overflow-x: hidden;
	.rig-fixed{
		@include rig-element;
		width: $default-sidebar-width;
	}
	.rig-flex{
		@include rig-element;

	}

	.rig-wrapper{
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
	}
}

.rig:not(.rig-resizing):not(.rig-init){
	/*transitions go in here*/
	.rig-wrapper{
		-webkit-transition: left .23s ease-out;
		-moz-transition: left .23s ease-out;
		-ms-transition: left .23s ease-out;
		-o-transition: left .23s ease-out;
		transition: left .23s ease-out;
	}
	.rig-flex{
		-webkit-transition: width .23s ease-out;
		-moz-transition: width .23s ease-out;
		-ms-transition: width .23s ease-out;
		-o-transition: width .23s ease-out;
		transition: width .23s ease-out;
	}
}


@media only screen and (min-width: $small-breakpoint){
.rig{
	.rig-hide-desktop{
		display: none !important;
	}
}
}

@media only screen and (max-width: $small-breakpoint){
.rig{
	.rig-hide-mobile{
		display: none !important;
	}
}
}