/*======= VARIABLES =======*/
/*======= MIXINS =======*/
body {
  margin: 0px; }

.rig {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden; }
  .rig .rig-fixed {
    height: 100%;
    float: left;
    overflow: scroll;
    width: 275px; }
  .rig .rig-flex {
    height: 100%;
    float: left;
    overflow: scroll; }
  .rig .rig-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%; }

.rig:not(.rig-resizing):not(.rig-init) {
  /*transitions go in here*/ }
  .rig:not(.rig-resizing):not(.rig-init) .rig-wrapper {
    -webkit-transition: left .23s ease-out;
    -moz-transition: left .23s ease-out;
    -ms-transition: left .23s ease-out;
    -o-transition: left .23s ease-out;
    transition: left .23s ease-out; }
  .rig:not(.rig-resizing):not(.rig-init) .rig-flex {
    -webkit-transition: width .23s ease-out;
    -moz-transition: width .23s ease-out;
    -ms-transition: width .23s ease-out;
    -o-transition: width .23s ease-out;
    transition: width .23s ease-out; }

@media only screen and (min-width: 600px) {
  .rig .rig-hide-desktop {
    display: none !important; } }
@media only screen and (max-width: 600px) {
  .rig .rig-hide-mobile {
    display: none !important; } }
